# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env

# IDEs
.vscode/
.idea/

# Project Output
output/
*.srt
*.mp3
*.m4a
*.wav

# Config
.yt_subtitle_tool/
config.json

# Logs
*.log

# Models
models/

# Downloads
downloads/

# Release
release/

# Video Files
*.mp4
*.mkv
*.avi

# Frontend / Tauri
frontend-tauri/node_modules/
frontend-tauri/dist/

# Tauri build artifacts
src-tauri/target/

# Misc
*.log
